<!DOCTYPE html>
<html>
	
<head>
	<meta charset="utf-8">
	<title>小説に触れよう</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<header>
		<h1 class="subject">小説に触れよう</h1>
		  <nav class="link-btn" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
			    <a href="/login">ログイン</a>
			</div>
		  </nav>
		  <nav class="link-btn" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
			    <a href="/register">新規登録</a>
			</div>
		  </nav>
		  <nav class="link-btn" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
			    <a href="/home">登録せずに利用</a>
			</div>
		  </nav>    
	  </header>
	  <main>
	  </main>
</body>

</html>